.logo-uph {
    --animate-duration: 0.2s;
}

.counter {
    border-radius: 5px;
}

.count {
    font-weight: bold;
    font-size: 2rem !important;
}

.head-text {
    font-family: 'Bangers', cursive;
}

.hr {
    width: 95%;
    height: 2px;
    background-color: orangered;
}

.form-btn {
    border: 3px solid #b30;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-style: normal;
    color: white;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
    border-radius: 8px;
}

.form-btn:hover {
    color: white;
    text-decoration: none;
    background-color: #f74;
    border: 3px solid #f74;
    transition: 0.3s;
}

.box,
.box2 {
    width: 24%;
    min-width: 225px;
}

.box {
    margin-bottom: 3em;
    padding-bottom: 2em;
}

.box-panel {
    background-color: #383e45;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    background-color: #4f5761;
    width: 98%;
    border: 2px solid #383e45;
}

.box-icon,
.box-icon2 {
    font-size: 56px;
}

.box-icon {
    color: #aadc93;
}

.box-icon2 {
    color: #4994e2;
}

.box-header {
    font-size: 32px;
}

.box-header2 {
    font-size: 20px;
}

.box-content,
.box-content2 {
    text-align: center;
}

.box-content2 {
    font-size: 14px;
}

.about-section {
    color: white;
    background-color: #383e45;
}

a.sign-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #4994e2;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.2s;
    font-size: 1.5em;
}

a.sign-btn:hover {
    color: white;
    background-color: #4994e2;
}

@media all and (max-width:30em) {
    a.sign-btn {
        display: block;
        margin: 0.4em auto;
    }
}

.org {
    overflow-x: hidden;
}

#info li {
    margin: .5em 0 .5em 0;
}

.image-rotate {
    transform: rotate(-20deg);
    padding-right: 1em;
    transition-property: all;
}

.d-link {
    cursor: pointer;
}

.d-link:hover {
    text-decoration: underline;
}

#gdpr-cookie-message {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: rgb(77, 35, 93);
    padding: 2em;
    color: white;
}

#gdpr-cookie-accept {
    border: none;
    padding: 0.35em 1.2em;
    border: 0.1em solid #4994e2;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.2s;
    font-size: 1em;
    background-color: white;
}

#gdpr-cookie-accept:hover {
    color: white;
    background-color: #4994e2;
}

#gdpr-cookie-advanced {
    display: none;
}

.headerText {
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3em;
}

#gdpr-cookie-message a {
    display: none;
}

.link {
    color: salmon;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

#dekracja a {
    color: red;
}